.movieBrowserContainer {
  height: 410px;
}

.movies {
  width: 90vw;
  display: flex;
  align-items: space-between;
  overflow: scroll;
  height: 410px;
}

.title {
  font-family: 'Inter' sans-serif;
  font-size: 32px;
  font-weight: 700;
  color: white;
  margin-bottom: 30px;
  padding-left: 10px;
}
