.homeContainer {
  background-color: inherit;
  display: grid;
  grid-template-rows: auto;
  justify-content: center;
  overflow: scroll;
  height: 100vh;
}

.browserContainer > * {
  margin-bottom: 70px;
}

.browserContainer {
  padding-top: 130px;
  background-color: inherit;
  display: grid;
  grid-row: 1/2;
}

.footer {
  grid-row: 2/3;
  display: flex;
  justify-content: center;
  margin-top: 50px;
}

