.homeContainer {
  background-color: inherit;
  display: flex;
  justify-content: center;
  overflow: scroll;
  height: 100vh;
}

.browserContainer > * {
  margin-bottom: 70px;
}

.browserContainer {
  padding-top: 130px;
}
