.genreButton {
  border-radius: 100px;
  border: 2px solid #FFFFFF;
  width: 150px;
  height: 42px;
  box-sizing: border-box;
  background-color: #1E1E1E;
  font-family: 'Inter' sans-serif;
  font-size: 16px;
  font-weight: 700;
  text-align: center;
  color: white;
  margin: 5px;
}

.genreButton:active {
  color: #1A1A1A;
  background-color: white;
}

.genreButton:hover {
  cursor: pointer;
}
