.discoverWrapper {
  background-color: inherit;
  display: grid;
  grid-template-rows: auto;
  justify-content: center;
  overflow: scroll;
  height: 100vh;
}

.discoverContainer {
  padding-top: 50px;
  display: grid;
  grid-template-rows: auto;
  justify-content: center;
  grid-row: 1/2;
  margin-bottom: 100px;
}

.discoverContainer h1 {
  color: white;
  font-family: 'Inter' sans-serif;
  padding-left: 10px;
}

.chooseGenre {
  font-family: 'Inter' sans-serif;
  font-weight: 400;
  color: #838383;;
  text-align: center;
  margin-top: 50px;
  font-size: 22px;
}

#discoverResults {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  width: 100%;
  padding-top: 70px;
}
