.sideBarContainer {
  width: 100%;
  height: 100%;
  left: 0px;
  top: 0px;
  background: #171717;
  box-shadow: 1px 0px 0px #686868;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.sideBar {
  width: 100%;
}

.sideBar div {
  width: 100%;
  display: grid;
  grid-template-columns: 1fr 5fr;
}

.sideBar div a {
  padding: 5px;
  padding-top: 20px;
  padding-bottom: 20px;
  color: #838383;
  font-weight: 400;
  font-size: 1.8rem;
  text-decoration: none;
  grid-column: 2/3;
  display: flex;
}

.sideBar div a:focus {
  color: #FFFFFF;
}

.sideBar div a img {
  margin-right: 10px;
}

.sideBar div:hover {
  background-color: #1d1d1d;
}
